body {
  background-color: teal;
  color: white;
  overscroll-behavior: contain;
}

input[type="number"] {
  width: 3em;
}

#board {
  position: relative;
  outline: 1px solid;
}

.tile {
  position: absolute;
}
