body {
  background-color: teal;
  font-family: arial, sans-serif;
  font-size: 0.8em;
  color: white;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  overscroll-behavior: contain;
}

#puzzleCols {
  width: 2.25em;
}

#puzzleWidth {
  width: 3.25em;
}

.btn {
  display: inline-block;
  line-height: 1.7em;
  padding: 0 0.62em;
  border: 1px solid #666;
  border-radius: 0.25em;
  background-image: linear-gradient(to bottom, #fff, #ccc);
  box-shadow: inset 0 0 0.1em #fff, 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
  color: black;
}

.notShown {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

#puzzle {
  position: relative;
  outline: 1px solid;
  outline-offset: -2px;
  margin: 3em auto;
}

.hint {
  opacity: 20%;
  visibility: hidden;
}

#hint:checked ~ #puzzle {
  outline: none;
}

#hint:checked ~ #puzzle > .hint {
  visibility: visible;
}

.piece {
  position: absolute;
}
